<h1>新增履歷</h1>

<%# <form action="/resumes" method="post">
姓名： <input type="text" name="authenticity_token">
<button>提交</button>
</form> %>

<%= form_for(@resume) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email %>
<%= f.email_field :email %>

<%= f.submit %>
<% end %>



